* {
  box-sizing: border-box;
}

body {
  font-family: poppins;
  font-size: 16px;
  color: #ffffff;
}

.login-from {
  background-color: rgba(217, 217, 217, 0.2);
  margin: auto auto;
  padding: 40px;
  border-radius: 70px;
  box-shadow: 0 0 10px #000;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 650px;
  height: 530px;
  border: 6px black solid;
  backdrop-filter: blur(10px);
}

.login-from .header-text {
  font-size: 128px;
  font-weight: 700;
  padding-bottom: 30px;
  -webkit-text-stroke: 7px black;
  text-align: center;
  font-family: "Inter", sans-serif;
}

.login-from input {
  margin: 10px 0px;
  border: 5px black solid;
  padding: 10px;
  border-radius: 50px;
  width: 100%;
  font-size: 18px;
  font-family: "Inter", sans-serif;
  background-color: rgba(255, 243, 80, 0.2);
}

.login-from ::placeholder {
  font-family: "Inter", sans-serif;
  color: #000000;
}

.login-from button {
  background-color: black;
  color: #ffffff;
  border: none;
  border-radius: 50px;
  width: 100%;
  font-size: 48px;
  padding: 10px;
  margin: 20px 0px;
  font-family: "Inter", sans-serif;
}
